@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section>
    <img class="pageBanner" src="../themes/images/carousel/banner1.png" alt="New products">
    <address>
        Trường đại học CNTT<br />
        Khu phố 6, phường Linh Trung, quận Thủ Đức, TP.HCM<br />
        <abbr title="Phone">Số điện thoại:</abbr>
        0123456789
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</section>
